﻿@{
    ViewData["Title"] = "Start";
}

<div class="text-center">
    <h1 class="display-4">Velkommen </h1>
</div>

<img id="img_road" alt="Road" src="@Url.Content("~/Content/Images/road-1072823_1280.jpg")" />
