﻿@model IEnumerable<Domain.Entities.Initiative>

@{
    ViewData["Title"] = "Initiativer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Initiativer i kommunen</h1>

@foreach (var item in Model)
{
    <div class="card">
        <h4>@Html.DisplayFor(modelItem => item.Header)</h4>
        <p>@Html.DisplayFor(modelItem => item.Details)</p>
        <p><i>Periode: @Html.DisplayFor(modelItem => item.Period)</i></p>
        <p><small>Målgruppe: @Html.DisplayFor(modelItem => item.TargetGroup)</small></p>
    </div>
}
