﻿@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

<img id="img_road" alt="Road" src="@Url.Content("~/Content/Images/zen-2040340_1280.jpg")" />