﻿@model Domain.Entities.Person

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Detaljer</h1>

<div>
    <h4>Person</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CprNo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CprNo)
        </dd>
    </dl>

    @if (Model.TestResults != null && Model.TestResults.Count() > 0)
    {
        <h4>Test resultater</h4>
        @for (int i = 0; i < Model.TestResults.Count(); i++)
        {
            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => Model.TestResults[i].TestDate)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => Model.TestResults[i].TestDate)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => Model.TestResults[i].Result)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => Model.TestResults[i].Result)
                </dd>
            </dl>
        }
    }
    else
    {
        <h4>Ingen test resultater</h4>
    }


</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" asp-route-birthday="@Model.Birthday">Edit</a> |
    @*@Html.ActionLink("Edit", "Edit", new { id = Model.Id, birth }) |*@
    <a asp-action="Index">Back to List</a>
</div>
