﻿@model Domain.Commands.EditPerson

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>Edit Person</h4>
<hr />

<form asp-action="Edit">
    <div class="row">
        <div class="col-md-4">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input asp-for="Id" type="hidden" class="form-control hide" />
            </div>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CprNo" class="control-label"></label>
                <input asp-for="CprNo" class="form-control" />
                <span asp-validation-for="CprNo" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </div>

        <div class="col-md-8 border">
            <div class="container">
                <h4>Tilføj nyt testresult</h4>
                <div class="form-group">
                    @Html.LabelFor(Model => Model.NewTestResult.TestDate, new { @class = "control-label" })
                    @Html.EditorFor(Model => Model.NewTestResult.TestDate, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(Model => Model.NewTestResult.TestDate)
                </div>
                <div class="form-group">
                    @Html.LabelFor(Model => Model.NewTestResult.Result, new { @class = "control-label" })
                    @Html.EditorFor(Model => Model.NewTestResult.Result, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(Model => Model.NewTestResult.Result)
                </div>
            </div>
            <div class="container">
                @if (Model.NumberOfTestResults == 0)
                {
                    <h4>Ingen tidligere test resultater</h4>
                }
                else
                {
                    <h4>Test resultater</h4>
                }

                @for (int i = 0; i < Model.NumberOfTestResults; i++)
                {
                    <div class="form-group">
                        @Html.LabelFor(Model => Model.TestResults[i].TestDate, new { @class = "control-label" })
                        @Html.EditorFor(Model => Model.TestResults[i].TestDate, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(Model => Model.TestResults[i].TestDate)
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(Model => Model.TestResults[i].Result, new { @class = "control-label" })
                        @Html.EditorFor(Model => Model.TestResults[i].Result, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(Model => Model.TestResults[i].Result)
                    </div>
                }
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
