﻿@model IEnumerable<Domain.Entities.Person>

@{
    ViewData["Title"] = "Index";    
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>
<p>
    <a asp-action="Create">Create New</a> |
    <a asp-action="IndexShowAll" title="Test performance for mange records">Vis alle resultater</a>
</p>
<div>
    <form class="search-form" asp-controller="Person" asp-action="Index">
        <p>
            Find person
            <input type="text" id="cprNumber" class="form-control" placeholder="Skriv cpr nummer her" name="cprNumber" />
            <input type="submit" value="Find" class="btn btn-primary" /> | 
            <a asp-action="Index">Tilbage til listen</a>
        </p>
    </form>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Birthday)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Take((int)ViewData["ShowRecords"]))
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Birthday)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" asp-route-birthday="@item.Birthday">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id" asp-route-birthday="@item.Birthday">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id" asp-route-birthday="@item.Birthday">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
